{% extends "users/dashboard.twig" %}
{% block mostrar %}
	<div class="col-md-4 rounded h-75 fondo-oscuro-medio d-flex justify-content-center align-items-center flex-wrap">
		<form action="{{url}}Update/Ticket?id={{ticket.id}}" method="post">
			<p class="text-white mb-4">Editar Boleto</p>
			<input name="serial" type="text" class="fondo-oscuro-medio input w-100 rounded text-white mb-4" value="{{ticket.serial}}">
			<input name="eventName" type="text" class="fondo-oscuro-medio input w-100 rounded text-white mb-4" value="{{ticket.eventName}}">
			<input name="date" type="text" class="fondo-oscuro-medio input w-100 rounded text-white mb-4" value="{{ticket.date}}">
			<select class="fondo-oscuro-medio input rounded w-100 morado-text mb-4" name="ubication">
				<option selected value="{{ticket.ubication}}">{{ticket.ubication}}</option>
				<option value="Altos">Altos</option>
				<option value="Medios">Medios</option>
				<option value="VIP">VIP</option>
				<option value="Platino">Platino</option>
			</select>
			<button type="submit" class="morado-claro input w-100 rounded text-white">Registrar</button>
		</form>
	</div>
{% endblock %}
