{% extends "users/dashboard.twig" %}

{% block mostrar %}
	<div class="ticketShow-container flex wrap morado-claro text-white rounded">
			<h2 class="w-100">Propietario: {{ticket.user.names}}</h2>
			<p class="w-100">Evento: {{ticket.eventName}}</p>
			<p class="w-100">Serial: {{ticket.serial}}</p>
			<p class="w-100">Ubicación: {{ticket.ubication}}</p>
			<p class="w-100">Fecha: {{ticket.date}}</p>
			<a  href="{{url}}" role="button"class="w-100 morado-mas-claro-text ticketShow-anchor">Ir al Menu Principal</a>
	</div>
{% endblock %}
