{% extends "users/dashboard.twig" %}

{% block mostrar %}
	<div >
		<div >
			<h2 >Propietario: {{ticket.user.names}}</h2>
			<h3 >Evento: {{ticket.eventName}}</h3>
			<h3 >Serial: {{ticket.serial}}</h3>
			<h3 >Ubicación: {{ticket.ubication}}</h3>
			<h3 >Fecha: {{ticket.date}}</h3>
			<a  href="{{url}}" role="button">Ir al Menu Principal</a>
		</div>
	</div>
{% endblock %}
