{% extends "layout.twig" %}

{% block content %}
	<div >
		<div >
			<p >USUARIO</p>
			<p >{{user.names}}</p>
			<ul >
			<p >MENU</p>
				{% if user.admin == true %}
				<li >
					<a href="{{urlInit}}">Inicio</a>
				</li>
				{% endif %}
				{% if user.admin == false %}
				<li >
					<a  href="{{urlInit}}">Inicio</a>
				</li>
				{% endif %}
				{% if user.admin == true %}
				<li >
					<a  href="{{url}}Event/Create">Registrar Eventos</a>
				</li>
				{% endif %}
				<li >
					<a  href="{{url}}Logout">Cerrar Sesión</a>
				</li>
			</ul>
		</div>
		<div >
			<div >
          {% block mostrar %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
